{
  "endOfLine": "lf",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "always",
  "parser": "typescript",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "strict"
}
